@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at center,
    rgb(var(--background-start-rgb)) 0%,
    rgba(88, 28, 135, 0.2) 30%,
    rgba(15, 118, 110, 0.2) 70%,
    rgb(var(--background-end-rgb)) 100%
  );
  min-height: 100vh;
}

::selection {
  background: white;
  color: black;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

/* Force Tailwind utilities to be included in production */
.fixed {
  position: fixed;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

